body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #daf9fb;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #989e9e;
    border-radius: 8px;
    background-color: #c6fcfc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    text-align: justify;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    text-align: justify;
}

p {
    margin-bottom: 10px;
    color: #333;
    text-align: justify;
}

